COMPOSE_PROJECT_NAME=cmdb-monitoring
BIND_ADDRESS=0.0.0.0
SERVER_HOST=192.168.85.134
PROMETHEUS_RETENTION=15d
PROMETHEUS_RETENTION_SIZE=20GB
POSTGRES_EXPORTER_DSN=postgresql://postgres_exporter:CHANGE_ME@host.docker.internal:5432/postgres?sslmode=disable
REDIS_EXPORTER_PASSWORD=CHANGE_ME
